
   #back{
    font-family: 'Lato';

    width: 1000px;
    height: 940px;
    }
    #loginDiv{
        width:400px;
        background-color:rgb(148, 146, 18);
        height: 400px;  
        border-radius: 40px;
        box-shadow: 0 1px 2px #0003;
        margin-left: 270px;
        margin-top: 100px;

     }
    body{
        margin: 0;
        padding: 0;
        background-color: rgb(247, 148, 62); 

        
    }
  

    .content{
        display: flex;
        gap: 0; 
    }
    
    .content div{
        flex: 1;
        margin: 0;
        padding: 0;
    }
    
label{
        background-color: blue;
        font-family: 'Lato';
        font-weight: bold;
        color: white;

}
input{
    border-radius: 10px;
    border-style: none;
    width: 350px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}
::placeholder{
    font-family: 'Lato';
}
h1{
    background-color: blue;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: 'Lato';
    margin-top: 300px;
}

#divBowl{
    background-color: #ffffff;
     margin-left: 100px;
    width:1000px;
    margin-left: 1046px;
border-radius: 440px;
}
#imgBowl{
    width:1000px;
    height: 969px;

}
